.dashboardContainer {
  width: 100%;
  height: 100vh;
    cursor: url('../../../assets/images/cursor.png'), default;
  }

  .dashboard{
    width: 80%;
    float: left;
    text-align: center;
    padding: 2rem;
  }
  .dashboard h1{
    text-align: start;
    padding: 2rem;
  }

.box{
  text-align: start;
  width: 20%;
  height: 20vh;
  padding: 20px;
  box-shadow: 0px 0px 10px gray;
  background-color: #c7a9dd;
  border-radius: 20px;
}
.box p{
  margin: 5px;
}
.databox{
  display: flex;
  justify-content: space-evenly;
  color: black;
}
.graph{
  width: 80%;
  height: auto;
  box-shadow: #000000;
  margin: 6rem; 
  padding: 10px;
  
}

  .sidebar{
    width: 20%;
    height: auto;
    float: right;
    padding-top: 5rem;
    
  }
 .progress{
  text-align: start;
  width: 60%;
  float: left;
 }
 .progress h2{
  padding-left: 2rem;
  
}

.bar{
  margin: 30px;
  text-align: start;
}

.bar h3{
  margin-left: 40px;
}

  .data{
    display: flex;
    margin: 10px;
    color:#000000
  }
  .barLine{
    width: 100%;
    background-color: #E19937;
    overflow: hidden;
    
  }
  .fillBar{
    height: 4vh;
    background-color: #E19937;
    
  }

.userProgress{
  float: right;
  
}